<!doctype html>
<html lang="en">

<head>
  <!-- Meta data -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title and favicon -->
  <title>MR Player</title>
  <link rel="shortcut icon" type="image/png" href="assets/favicon.png" />

  <!-- Styles -->
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="assets/app.css">

  <!-- Scripts -->
  <script src="https://www.youtube.com/iframe_api"></script>
  <script src="node_modules/jquery/dist/jquery.js"></script>
  <script src="node_modules/popper.js/dist/umd/popper.js"></script>
  <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
  <script src="node_modules/angular/angular.js"></script>
  <script src="node_modules/angular-youtube-embed/dist/angular-youtube-embed.min.js"></script>
  <script src="assets/app.js"></script>
</head>

<body class="bg-light" ng-app="mrPlayer" ng-controller="MainController" ng-class="{loaded: loaded}">

  <!-- Cover container -->
  <div class="container-fluid py-5 bg-dark text-light">

    <!-- Content -->
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-lg-3 py-5">
          <h1>
            <small class="text-secondary font-weight-bold" nosel>PARTY</small><br><br>
            <span class="border rounded px-4 py-2 text-warning border-warning">{{ party }}</span>
          </h1>
        </div>
        <div class="col-lg-3 py-5" nosel>
          <h1>
            <small class="text-secondary font-weight-bold">SONGS</small><br><br>
            <span class="border rounded px-4 py-2 text-info border-info">{{ songs.length }}</span>
          </h1>
        </div>
        <div class="col-lg-3 py-5" nosel>
          <h1 title="Interaction with other party members feature is coming soon">
            <small class="text-secondary font-weight-bold">MEMBERS</small><br><br>
            <span class="border rounded px-4 py-2 text-success border-success">?</span>
          </h1>
        </div>
      </div>
    </div>
  </div>

  <!-- Main container -->
  <div class="container py-5">

    <!-- Sides -->
    <div class="row">

      <!-- Left side -->
      <div class="col-lg-7">

        <!-- Player -->
        <div class="card mb-2">
          <div class="card-body">
            <div class="player embed-responsive embed-responsive-16by9">
              <youtube-video player="player"
                video-id="currentSong.url"
                player-vars="playerConfig">
              </youtube-video>
            </div>
          </div>
        </div>
      </div>

      <!-- Right side -->
      <div class="col-lg-5">

        <!-- Input -->
        <form ng-submit="addSong(form)" class="mb-2">
          <input type="text"
            class="form-control form-control-lg"
            ng-model="form.data.url"
            ng-disabled="form.loading"
            placeholder="https://www.youtube.com..." />
        </form>

        <!-- Songs -->
        <div class="card mb-2"
          ng-repeat="song in songs | orderBy:'id' track by $index"
          ng-class="{'bg-dark text-light': song.id == currentSong.id}">
          <div class="media card-body">
            <img width="128"
              class="mr-2 rounded"
              ng-src="{{ song.thumbnail }}"
              ng-click="playSong(song)">
            <div class="media-body">
              <p class="m-0">
                <span class="close" ng-click="song.delete(user)">&times;</span>
                <span>{{ song.title }}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
