<!doctype html>
<html lang="en">

<head>
  <!-- Meta data -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#343a40">
  <meta name="author" content="Amir Savand">
  <meta name="description" content="MR Player takes a playlist from the party and plays each users song.">

  <!-- Title and favicon -->
  <title>MR Player</title>
  <link rel="shortcut icon" type="image/png" href="/static/assets/app.png" />

  <!-- Styles -->
  <link rel="stylesheet" href="/static/node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/static/node_modules/@fortawesome/fontawesome-free/css/solid.css">
  <link rel="stylesheet" href="/static/node_modules/@fortawesome/fontawesome-free/css/fontawesome.css">
  <link rel="stylesheet" href="/static/assets/app.css">

  <!-- Scripts -->
  <script src="https://www.youtube.com/iframe_api"></script>
  <script src="/static/node_modules/jquery/dist/jquery.js"></script>
  <script src="/static/node_modules/jquery-match-height/dist/jquery.matchHeight.js"></script>
  <script src="/static/node_modules/popper.js/dist/umd/popper.js"></script>
  <script src="/static/node_modules/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/static/node_modules/angular/angular.js"></script>
  <script src="/static/node_modules/angular-youtube-embed/dist/angular-youtube-embed.min.js"></script>
  <script src="/static/assets/app.js"></script>
</head>

<body class="bg-light" ng-app="mrPlayer" ng-controller="MainController" ng-class="{loaded: loaded}">

  <!-- Cover container -->
  <div class="container-fluid py-5 bg-dark text-light">

    <!-- Content -->
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-lg-3 py-5">
          <h1>
            <small class="text-secondary font-weight-bold" nosel>PARTY</small><br><br>
            <span class="border rounded px-4 py-2 text-warning border-warning">[[ party ]]</span>
          </h1>
        </div>
        <div class="col-lg-3 py-5" nosel>
          <h1>
            <small class="text-secondary font-weight-bold">SONGS</small><br><br>
            <span class="border rounded px-4 py-2 text-info border-info">[[ songs.length ]]</span>
          </h1>
        </div>
        <div class="col-lg-3 py-5" nosel>
          <h1 title="Interaction with other party members feature is coming soon">
            <small class="text-secondary font-weight-bold">MEMBERS</small><br><br>
            <span class="border rounded px-4 py-2 text-success border-success">?</span>
          </h1>
        </div>
      </div>
    </div>
  </div>

  <!-- Main container -->
  <div class="container py-5">

    <!-- Player -->
    <div class="card mb-3">
      <div class="card-body">
        <div class="player embed-responsive embed-responsive-16by9" ng-if="songs">
          <youtube-video video-id="'nothing'" player-vars="playerConfig"></youtube-video>
        </div>
      </div>
    </div>

    <!-- Input -->
    <form ng-submit="addSong(form)" class="mb-3">
      <input type="text"
        class="form-control form-control-lg"
        ng-model="form.data.url"
        ng-disabled="form.loading"
        placeholder="https://www.youtube.com..." />
    </form>

    <!-- Songs -->
    <div class="row songs">
      <div class="col-lg-3 col-md-4 col-sm-6" ng-repeat="song in songs track by $index">
        <div class="card mb-2" ng-class="{'bg-dark text-light': song.id == currentSong.id}">
          <img class="card-img-top" ng-src="[[ song.thumbnail ]]" ng-click="playSong(song)">
          <div class="card-body p-2">
            <p class="card-text">
              <span class="close" ng-click="song.delete(user)">&times;</span>
              <span>[[ song.title ]]</span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- To top button -->
    <button class="btn btn-dark btn-lg to-top" ng-click="toTop()" ng-show="scrolled">
      <i class="fas fa-arrow-alt-circle-up"></i>
    </button>
</body>

</html>
